rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Function to check if a user is already a member of a household
    function isHouseholdMember(householdId) {
      return request.auth != null && get(/databases/$(database)/documents/households/$(householdId)).data.members.hasAny([request.auth.uid]);
    }

    // Rules for user profiles
    match /users/{userId} {
      allow read, write, create: if 
        request.auth != null;
    }

    // Rules for the households collection
    match /households/{householdId} {
      allow read, write, create: if 
        request.auth != null;
    }

    match /shoppingLists/{listId} {
      allow read, write, create: if 
        request.auth != null;
    }
    
    match /events/{eventID} {
      allow read, write, create: if request.auth != null;
    }
    
    // Default deny all other documents
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
